{% extends "hostuser_base/hostuser_base.html" %}
{% load static %}

{% block title %}CarRental - Update Car {% endblock title %}

{% block content %}

<main id="main" class="main">
  {% include "messages.html" %}
  
    <div class="pagetitle">
      <h1>Update Car HoldTime</h1>
      <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'hostuser:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'hostuser:holdcarlist' %}">Hold Car List</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'hostuser:carholdupdate' pk=car.id %}">Update Car HoldTime</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <!-- Dummy Col Start -->
        <div class="col-lg-2"></div>
        <!-- Dummy Col End -->

        <!-- Car Update Col Start -->
        <div class="col-lg-8">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Update Car HoldTime</h5>
    
                <!-- Car Update Form -->
                <form class="row g-3" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="form-floating">
                          {{ form.car }}
                          {% comment %} <input type="text" class="form-control" id="id_car" value={{car.id}} readonly> {% endcomment %}
                          {% comment %} <label for="id_car">Car</label> {% endcomment %}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating">
                          {{ form.start_datetime }}
                          {% comment %} <input type="text" class="form-control" id="floatingCity" placeholder="Brand"> {% endcomment %}
                          <label for="id_start_datetime">Start Date</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating">
                          {{ form.end_datetime }}
                          {% comment %} <input type="text" class="form-control" id="floatingCity" placeholder="Brand"> {% endcomment %}
                          <label for="id_end_datetime">End Date</label>
                        </div>
                    </div>

                    <input type="text" value="{{car.id}}" hidden id="car_id">

                    <div id="form-error" class="text-danger"></div>

                    <div class="text-center d-grid gap-2 mt-5">
                      {% comment %} <input type="submit" class="btn btn-primary" value="Update" /> {% endcomment %}

                      <button class="btn btn-primary check_car_availablity" id="submit-form" type="submit">Update</button>

                      {% comment %} <button type="reset" class="btn btn-secondary">Reset</button> {% endcomment %}
                    </div>
                  </form><!-- End Car Update Form -->
    
                </div>
              </div>

        </div>
        <!-- Car Update Col End -->

        <!-- Dummy Col Start -->
        <div class="col-lg-2"></div>
        <!-- Dummy Col End -->

      </div>
    </section>

  </main><!-- End #main -->


{% endblock content %}

{% block javascripts %}

<script>

  // start of date validations
  // setting min date for pickupdatetime
  var minDate = new Date().toISOString().slice(0,16);
  console.log("minDate", minDate);

  //To restrict past date
  $('#id_start_datetime').attr('min', minDate);
  $('#id_end_datetime').attr('min', minDate);  
  
  // setting min date for pickupdatetime

  var currentDate = new Date();
  var nextWeekDate = new Date(currentDate.getTime() + 7 * 24 * 60 * 60 * 1000);
  var maxDate = nextWeekDate.toISOString().slice(0, 16);
  console.log("nextWeekDate", nextWeekDate);
  console.log("maxDate", maxDate);
  //To restrict future date
  $('#id_start_datetime').attr('max', maxDate);
  $('#id_end_datetime').attr('max', maxDate);  

  // end of date validations

</script>

<script>

  $(document).ready(function() {
    console.log(":::::::;;;;");
    //$("#id_car").val($("#car_id").val())
    $("#id_end_datetime").on('change', function(){
      console.log("::::::::::", $(this).val());
      car_id = $("#id_car").val();
      console.log("car id :", car_id);
      start_time = $("#id_start_datetime").val();
      end_time = $(this).val();

      $("#submit-form").attr("disabled","true")
      $.ajax({
        url: "{% url 'hostuser:ajax_car_availability_check' %}",
        type: 'GET',
        data : {
          "car_id": car_id,
          "start_datetime": start_time,
          "end_datetime": end_time,
        },
        dataType: 'json', // added data type
        success: function(res) {
          console.log(res);
          if (res["status"] == "401"){
            $("#form-error").html(res["message"] + "<br><br>Select different dates from" + "<br>start date : " + start_time + "<br>end date : " + end_time);
            $('#hold-car-form')[0].reset();
          }
          else{
            $("#form-error").html("");
            $("#submit-form").removeAttr("disabled");
          }
        }
      });
    });
  });
</script>

{% endblock javascripts %}