{% extends "hostuser_base/hostuser_base.html" %}
{% load static %}

{% block title %}CarRental - Profile {% endblock title %}

{% block content %}

<main id="main" class="main">
  {% include "messages.html" %}

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hostuser:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'hostuser:hostprofile' pk=request.user.id %}">Profile</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            {% if user.profile_image %}
              <img src="{{ user.profile_image.url }}" alt="Profile" class="rounded-circle">
            {% else %}
              <img src="{% static 'images/profile_image.webp' %}" alt="Profile" class="rounded-circle">
            {% endif %}
            <button type="button" class="btn btn-sm btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#profileImageUpdateModal">
              Change Photo
            </button>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <h3>{{ user.email }}</h3>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                {% comment %} <h5 class="card-title">About</h5>
                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p> {% endcomment %}

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Username</div>
                  <div class="col-lg-9 col-md-8">{{ user.username }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ user.first_name }} {{ user.last_name }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ user.contact }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form method="POST">
                  {% csrf_token %}
                  {% comment %} <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="assets/img/profile-img.jpg" alt="Profile">
                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                      </div>
                    </div>
                  </div> {% endcomment %}

                  <div class="row mb-3">
                    <label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="username" type="text" class="form-control" id="username" value="{{ user.username }}" disabled>
                      <p class="text-danger">* You can not change your username</p>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="id_first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.first_name }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="id_last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.last_name }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="id_contact" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.contact }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="email" class="form-control" id="email" value="{{ user.email }}" disabled>
                      <p class="text-danger">* You can not change your email</p>
                    </div>
                  </div>
                

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3 profile-change-password" id="profile-change-password">
                <!-- Change Password Form -->
                <form action="{% url 'hostuser:password_change' %}" method="POST" id="passwordChangeForm">
                  {% csrf_token %}

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      {{ passform.old_password }}
                      {% comment %} <input name="password" type="password" class="form-control" id="currentPassword"> {% endcomment %}
                    </div>
                  </div>
                  <span class="text-danger">{{ passform.old_password.errors }}</span>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      {{ passform.new_password1 }}
                      {% comment %} <input name="newpassword" type="password" class="form-control" id="newPassword"> {% endcomment %}
                    </div>
                  </div>
                  <span class="text-danger">{{ passform.new_password1.errors }}</span>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      {{ passform.new_password2 }}
                      {% comment %} <input name="renewpassword" type="password" class="form-control" id="renewPassword"> {% endcomment %}
                    </div>
                  </div>
                  <span class="text-danger">{{ passform.new_password2.errors }}</span>

                  <div class="text-center">
                    <button type="submit" form="passwordChangeForm" class="btn btn-primary change-password-btn">Change Password</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Profile Image Update Modal Start -->
  <div class="modal fade" id="profileImageUpdateModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Profile Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% comment %}  action={% url 'user:profileimageupdate' pk=request.user.id %} {% endcomment %}
          <form method="POST" action={% url 'hostuser:hostprofileimageupdate' pk=request.user.id %} enctype="multipart/form-data" id="imageupdateform">
            {% csrf_token %}
            <div class="col-md-12">
              {{imageform.profile_image}}
              {% comment %} <input type="file" class="form-control" name="profile_image" id="profile_image" accept="image/*"> {% endcomment %}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="imageupdateform" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Profile Image Update Modal End -->

</main><!-- End #main -->

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}