{% extends "hostuser_base/hostuser_base.html" %}
{% load static %}

{% block title %}CarRental - Profile {% endblock title %}

{% block content %}

<main id="main" class="main">
  {% include "messages.html" %}

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'hostuser:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'hostuser:hostprofile' pk=request.user.id %}">Change Password</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-warning shadow border-0">
        <div class="card-header bg-transparent pb-3">
          <div class="text-muted text-center mt-2 mb-3">
            <h1>Change Password</h1>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center mb-4">

            <h1 style="font-size:80px;"><i class="fas fa-check-circle" style="color: #08a108;"></i></h1>
            <h1 class="font-weight-bold my-3">Success!</h1>
            <p class="my-1 font-weight-bold">Your Password has been changed successfully.</p> 

          </div>

            <div class="text-center">
                <a href="{% url 'hostuser:dashboard' %}" class="btn btn-primary my-4">Go to Dashboard</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </section>

</main><!-- End #main -->

{% endblock content %}

{% block javascripts %}

{% comment %} <script>

  document.getElementById("id_old_password").classList.add("form-control");
  document.getElementById("id_old_password").placeholder = "Enter Old Password";
  document.getElementById("id_new_password1").classList.add("form-control");
  document.getElementById("id_new_password1").placeholder = "Enter New Password";
  document.getElementById("id_new_password2").classList.add("form-control");
  document.getElementById("id_new_password2").placeholder = "Confirm Password";

</script> {% endcomment %}

{% endblock javascripts %}
