{% extends "user_base.html" %}
{% load static %}   
{% load crispy_forms_tags %}

{% block title %}Register - CarRental{% endblock title %}

{% block content %}

{% comment %} 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp' {% endcomment %}
<section class="vh-100 bg-image"
  style="background-image: url({% static 'images/hero_1_a.jpg' %});">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form method="POST">
                {% csrf_token %}

                {{ form|crispy }}
                
                {% comment %} <div class="form-outline mb-2">
                  {{ form.email|as_crispy_field }}
                </div>

                <div class="form-outline mb-5">
                  {{ form.password|as_crispy_field}}
                </div> {% endcomment %}

                <div class="d-flex justify-content-center">
                  <input type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login" value="Login">
                </div>

                <p class="text-center text-muted mt-5 mb-0">New User? <a href="{% url 'user:register' %}"
                    class="fw-bold text-body"><u>Register here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}